﻿@{
    ViewBag.Title = "Menu Page";
    
    if (ViewBag.data != null)
    {
        var list = ViewBag.data;
        //<label style="float:right">Welcome @list</label>
    }
    else
    {
        Response.Redirect("~/Home/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        @{
            <label style="float:right">Welcome @ViewBag.email</label>
        }
        <h2>Home Page</h2>

        <input type="button" class="btn btn-default" value="Logout" onclick="@("window.location.href='" + @Url.Action("Logout", "Home") + "'");" />
        <br /><br />

        <h4>Update Your Detail</h4>
        <input type="button" class="btn btn-primary" value="Update Detail" onclick="@("window.location.href='" + @Url.Action("UpdateDetail", "Home") + "'");" /> 
        <!--<button type="submit" id="updateBtn" class="btn btn-primary">Submit</button>-->



    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>     

    </script>
</body>
</html>
