﻿@{
    ViewBag.Title = "Register Page";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h2>Register</h2>
    <br />
    <script>//action="SetRegDetails"</script>
    <form id="dataForm">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="Email" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
            <p></p>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" Name="Name" id="Name" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="Password" id="Password" placeholder="Password">
        </div>


        <button type="submit" id="regBtn" class="btn btn-primary">Submit</button>

        <input type="button" class="btn btn-default" value="Back to Home" onclick="@("window.location.href='" + @Url.Action("Login", "Home") + "'");" />
    </form>



    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <!--<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>-->


    <script>

        $("#dataForm").validate({
            rules: {
                Name: {
                    required: true
                },
                Password: {
                    required: true
                },
                Email: {
                    required: true
                }
            },
            messages: {
                Name: {
                    required: "This field is required".fontsize('3px').fontcolor('red')
                },
                Password: {
                    required: "This field is required".fontsize('3px').fontcolor('red')
                },
                Email: {
                    required: "This field is required".fontsize('3px').fontcolor('red')
                }
            }
        });


        function WebFormData(inName, inPass, inEmail) {
            this.Name = inName;
            this.Password = inPass;
            this.Email = inEmail;
        }

        $('#regBtn').on('click', function (event) {
            event.preventDefault();



            $('#dataForm').validate();
            if ($('#dataForm').valid()) {

                /*
                var formData = new FormData();
                formData.append("Name", $("#Name").val());
                formData.append("Password", $("#Password").val());
                formData.append("Email", $("#Email").val());
                */

                var collName = $("#Name").val();
                var collPass = $("#Password").val();
                var collEmail = $("#Email").val();

                var webFormData = new WebFormData(collName, collPass, collEmail);
                var webFormDataInString = JSON.stringify(webFormData);

                $updateReg = $.ajax({
                    type: 'POST',
                    url: '/Home/SetRegDetails',
                    data: { model: webFormDataInString },
                    dataType: 'json',
                    cache: false,

                })
                $updateReg.done(function (response) {
                    if (response.success) {
                        console.dir(response.responseText);
                        new noty({
                            text: response.responseText,
                            type: 'success',
                            layout: 'center',
                            theme: 'relax',
                            maxVisible: 3,
                        }).show();
                        $("#dataForm")[0].reset();
                    }
                });

                $updateReg.fail(function (response) {
                    if (!response.success) {
                        new noty({
                            text: response.responseText,
                            type: 'error',
                            layout: 'center',
                            theme: 'relax',
                            maxVisible: 3,
                        }).show();
                        $("#dataForm")[0].reset();
                    }
                });

            }
        });






    </script>
</body>
</html>
