﻿@{
    ViewBag.Title = "Update Detail";

    if (ViewBag.data != null)
    //var asd = Html.Raw(ViewBag.data);
    //if(asd!=null);
    {  
        var list = ViewBag.data;
    }
    else
    {
        Response.Redirect("~/Home/Login");
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <h2>Update Details</h2>
        <br />
        <form id="dataForm">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="Email" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
                <p></p>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" Name="Name" id="Name" placeholder="Name">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="Password" id="Password" placeholder="Password">
            </div>

            <br />
            <button type="submit" id="updateBtn" class="btn btn-primary">Update</button>

            <input type="button" class="btn btn-default" value="Back to Menu" onclick="@("window.location.href='" + @Url.Action("Menu", "Home") + "'");" />
        </form>

    </div>


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script>

       //@(Html.Raw(ViewBag.data))
       // var tt = '@(Convert.ToString(Html.Raw(ViewBag.data)))';

        var id = '@(ViewBag.data)'

        function WebFormData(inId) {
            this.id = inId;
        }

        var webFormData = new WebFormData(id);
        var webFormDataInString = JSON.stringify(webFormData);

        //retrieve user detail
        getDetail();

        function getDetail() {

            $loadDetail = $.ajax({
                type: 'GET',
                url: '/Home/getDetail',
                data: { id: webFormDataInString },
                dataType: 'json',
            });

            $loadDetail.done(function (data) {
                var detail = data.data[0];
                console.dir(detail);
                name = detail["Name"];
                password = detail["Password"];
                email = detail["Email"];
                $('#Name').val(name);
                $('#Email').val(email);
                $('#Password').val(password);
            })

            $loadDetail.fail(function (data) {
                    new noty({
                        text: "Error loading credentials",
                        type: 'error',
                        layout: 'center',
                        theme: 'relax',
                        maxVisible: 3,
                    }).show();
            });
        }


        $("#dataForm").validate({
            rules: {
                Name: {
                    required: true
                },
                Password: {
                    required: true
                },
                Email: {
                    required: true
                }
            },
            messages: {
                Name: {
                    required: "This field is required".fontsize('3px').fontcolor('red')
                },
                Password: {
                    required: "This field is required".fontsize('3px').fontcolor('red')
                },
                Email: {
                    required: "This field is required".fontsize('3px').fontcolor('red')
                }
            }
        });



        //update detail
        function formData(inName, inPass, inEmail, inId) {
            this.Name = inName;
            this.Password = inPass;
            this.Email = inEmail;
            this.Id = inId;
        }

        $('#updateBtn').on('click', function (event) {

            event.preventDefault();

            $('#dataForm').validate();
            if ($('#dataForm').valid()) {
                var collName = $("#Name").val();
                var collPass = $("#Password").val();
                var collEmail = $("#Email").val();

                var webFormData = new formData(collName, collPass, collEmail, id);
                var webFormDataInString = JSON.stringify(webFormData);

                $putDetail = $.ajax({
                    type: 'PUT',
                    url: '/Home/putDetail',
                    data: { id: webFormDataInString },
                    dataType: 'json',
                })

                $putDetail.done(function (response) {
                    if (response.success) {
                        console.dir(response.responseText);
                        new noty({
                            text: response.responseText,
                            type: 'success',
                            layout: 'center',
                            theme: 'relax',
                            maxVisible: 3,
                        }).show();

                    }
                    else {
                        console.dir(response.responseText);
                        new noty({
                            text: response.responseText,
                            type: 'Error',
                            layout: 'center',
                            theme: 'relax',
                            maxVisible: 3,
                        }).show();
                    }
                    getDetail();
                });
            }
        });
    </script>
</body>
</html>
